*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main.datafound {
    padding: 60px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #faebd7e5;
}

.name-title {
    margin-top: 2.2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    font-size: 2.2rem;
    color: #262529;
    text-transform: uppercase;
    text-align: center;
}

.name-title:hover {
    color:  #23212a;
    opacity: 0.8;
}

.button {
    width: 100%;
    border: none;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    background-color: #23212a;
    color: #ffff;
    font-size: 22px;
    text-transform: uppercase;
}

.button:hover {
    cursor: pointer;
    background-color: #36343b;
    transition: .2s;
}

.button, input {
    font-family: 'Roboto Slab', serif;
}

.alert-error.open {
    visibility: visible;
    opacity: 1;

    transform: translateY(0);
  }

.alert-error {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;

    background-color: #504f4f;
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    padding: 8px 0;

    visibility: hidden;
    opacity: 0;

    transform: translateY(-30px);
    transition: transform .5s;

    text-transform: uppercase;
  }


table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3);
}

table * {
    font-size: 16px;
    color: #23212a;
    font-family: 'Roboto Slab', serif;;
}

table th {
    background: rgb(53, 53, 53);
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    padding: 15px;
    color: #ffff;
}

table td {
    padding: 15px;
    text-align: left;
}

table th:first-child {
    border-top-left-radius: 4px;
  }

table th:last-child {
    border-top-right-radius: 4px;
}

table tr:nth-child(even) {
    background: #eee;
  }


table tr:nth-child(odd) {
    background: #ddd;
}

@media (max-width: 900px) {

    .name-title {
        font-size: 2rem;
    }
}